.text-seo {
    max-height: 100px;
    overflow: hidden;
    background-color: rgb(173, 199, 140);
    transition: max-height 0.8s ease-out;
    /* box-shadow: inset 0px -20px 10px 30px rgba(241, 26, 26, 0.87); */

}

.text-seo::before {
    content: '';
    position: static;
    padding: 25px;
    background-color: aqua;

}

.vermais,
.vermenos {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    color: #2c2c2cb7;
    font-weight: 500;
    padding: 0px 15px;
    display: none;

}

.active {
    /* background-color: red; */
    display: inline;
}