.text-seo {
    padding: 1.2rem 1.2rem;
    max-height: 70px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    transition: max-height 0.8s ease-out;
    text-align: justify;
}



.vermais,
.vermenos {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    color: #2c2c2cb7;
    font-weight: 500;
    padding: 0px 15px;
    display: none;

}

.active {
    /* background-color: red; */
    display: inline;
}